<div class="load-intro" id="loadIntro" aria-hidden="true">
  <div class="load-intro-inner">
    <div class="load-kicker">Opening field sequence</div>
    <div class="load-brand">Exoflora</div>
    <div class="load-line"><span></span></div>
  </div>
</div>
